<header class="height">
  <nav class="navbar navbar-light bg-light">
    <ul class="nav">
      <div class="triangle">
        <div>
          <a class="nav-link active logoLink" routerLink="/"></a>
        </div>
        <div class="circle"></div>
      </div>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/about">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/contact">Contact Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/register">Re</a>
      </li>
    </ul>
  </nav>
</header>