<div class="wrapper">
  <div class="text-center ">
    <h1>Update Business Contact</h1>
  </div>
  <div class="container mt-5 contact-container">
    <form #f="ngForm" (ngSubmit)="onUpdate()" class="row g-3 contact-row m-auto align-items-center justify-content-center">
      <div class="col-md-6 d-flex flex-column justify-content-between" style="height: 200px;">
        <input type="text" name="contactName" class="form-control form-control-lg " ngModel #contactName="ngModel" [ngModel]="contact.name" required>
        <span class="text-danger" *ngIf="!contactName.valid && contactName.touched">Enter valid Contact Name</span>

        <input type="number" name="contactNumber" class="form-control form-control-lg " ngModel #contactNumber="ngModel" [ngModel]="contact.number" required>
        <span class="text-danger" *ngIf="!contactNumber.valid && contactNumber.touched">Enter valid Contact Number </span>
        <input type="email" name="email" class="form-control form-control-lg " ngModel email #email="ngModel" [ngModel]="contact.email" required>
        <span class="text-danger" *ngIf="!email.valid && email.touched">Enter valid email </span>
      </div>
      <div class="mt-5 text-center">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Update</button>
        <button class="btn btn-danger mx-3" (click)="onDelete()">Delete</button>
        <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>